.game {
  
    position: relative;
}
.container{
    display: grid; 
    grid-template-columns:  40% 30% 30%; 
}
.ai-player {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background-color: lightblue;
}
.player{
    display: grid; 
    grid-template-columns:  70% 30%; 
}
h2 {
    /* background-color: {{ character._color }}; */
    color: white; /* Set text color to white */
    padding: 10px; /* Add padding for better visibility */
    text-align: center; /* Center-align text */
    width: fit-content; /* Adjust width to fit content */
    margin: auto; /* Center horizontally */
    border: 2px solid white; 
}
.gameboard{
    border: 2px solid black; 

}

.circle {
    width: 50px; /* Set width and height to create a circle */
    height: 50px;
    line-height: 50px;
    border-radius: 50%; /* Make the div round (circle) */
    background-color: lightgray; /* Background color of the circle */
    text-align: center; /* Center-align text horizontally */
    /* Center-align text vertically */
    color: gray; /* Set text color to gray */
    margin-right: 20px;
}

.playerstats{
    display: grid; 
    grid-template-columns:  50% 50%; 
}

.character-action {
    display: flex;
    align-items: center;
  }

  .character-action h3 {
    margin: 0; /* Remove default margin */
    padding: 5px; /* Add padding for spacing */
  }
  
  .character-action form {
    margin-left: 10px; /* Add margin for spacing between h3 and form */
  }